name: CI - Build base image

on:
  push:
    branches:
      - main
    paths:
      - Dockerfile
      - uv.lock
  workflow_dispatch:

jobs:
  build-base:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ vars.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          file: Dockerfile
          push: true
          tags: |
            ${{ vars.DOCKER_USERNAME }}/rao-base:latest

      - name: Display Success Message
        run: echo "rao-base image has been built and pushed manually."